header{
    background-color: black;
}
table td a{
    text-decoration: underline;
    color: aliceblue;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
}
.slider-div{
    text-align: center;
    margin: 20px;
}
.slider{
    width: 45%;
}
p{
    text-align: justify;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    line-height: 25px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 20px;
}
.footer{
    font-weight: 300;
    font-size: 20px;
}